In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pandas import DataFrame, Series

## Loading a DataFrame from a CSV File

We load the delay data for ALASKA and AM WEST airlines at our five airports of Los Angeles, Phoenix, San Diego, San Francisco, and Seattle.

In [2]:
df = pd.read_csv(r'D:\Libraries\Documents\College\CUNY\2020 S1\IS 362 Data Acquisition and Management\IS362 Project 1\DelayData.csv')

## Analyzing Data from a Pandas DataFrame
We add a new total column to eventually compare total on time rate and then can display a replica of the dataset in tableform by just calling the dataframe.

In [3]:
df['Total'] = df.sum(axis=1)
df

,Airline,Delay Status,Los Angeles,Phoenix,San Diego,San Francisco,Seattle,Total
0,ALASKA,on time,497,221,212,503,1841,3274
1,ALASKA,delayed,62,12,20,102,305,501
2,AM WEST,on time,694,4840,383,320,201,6438
3,AM WEST,delayed,117,415,65,129,61,787

We are able to isolate the rows belonging to each airline and then divide the on time flights by the sum of both rows in order to figure out the rate of flights that are on time for each airport and in total. These rates are recorded in new dataframes for each airline.

In [4]:
af = df[["Los Angeles","Phoenix","San Diego","San Francisco","Seattle","Total"]][(df.Airline == "ALASKA")&(df['Delay Status'] == 'on time')]/df[df.Airline == "ALASKA"].sum(axis=0)
af["Airline"] = 'ALASKA'
af["Delay Status"] = "Percent on Time"
af

,Airline,Delay Status,Los Angeles,Phoenix,San Diego,San Francisco,Seattle,Total
0,ALASKA,Percent on Time,0.889088,0.948498,0.913793,0.831405,0.857875,0.867285

In [5]:
amw = df[["Los Angeles","Phoenix","San Diego","San Francisco","Seattle","Total"]][(df.Airline == "AM WEST")&(df['Delay Status'] == 'on time')]/df[df.Airline == "AM WEST"].sum(axis=0)
amw["Airline"] = 'AM WEST'
amw["Delay Status"] = "Percent on Time"
amw

,Airline,Delay Status,Los Angeles,Phoenix,San Diego,San Francisco,Seattle,Total
2,AM WEST,Percent on Time,0.855734,0.921028,0.854911,0.712695,0.767176,0.891073

We can then concatenate these two newly generated dataframes in order to generate a table that allows for a direct comparison on the on time rate between the two airlines.

In [6]:
dff = pd.concat([af,amw],axis = 0)
dff

,Airline,Delay Status,Los Angeles,Phoenix,San Diego,San Francisco,Seattle,Total
0,ALASKA,Percent on Time,0.889088,0.948498,0.913793,0.831405,0.857875,0.867285
2,AM WEST,Percent on Time,0.855734,0.921028,0.854911,0.712695,0.767176,0.891073

## Conclusion

Overall, AM WEST is less likely to have a delay by a few percent. However, looking at the individual airports you'll see that ALASKA is less likely to have a delay in each of these airports. The reason this is happening is because of the greater amount of flights that AM WEST makes compared to ALASKA which also means that the AM WEST data should theoretically be more accurate than the ALASKA data with less flights.